body{
    transition: all 0.6s;
}

#navbar-default ul li, #section2{
    font-family: 'Manrope', 'sans-serif'
}

#section2{
    padding-top: 6rem;
}

#section2 h1{
    font-weight: 600;
    padding-bottom: 1.2rem;
}

.section2_icons{
    text-align: center;
    font-size: 3rem;
}

.section2_icons:hover{
    font-size: 4rem;
    transition: 0.7s;
}
#section2 a{
    padding-left: 4rem;
    padding-right: 4rem;
}

.section4{
    padding-top: 8rem;
    padding-bottom: 8rem;
    font-family: 'Manrope', 'sans-serif'
}

.section5{
    background-color: #0A0A2A;
    font-family: 'Manrope', 'sans-serif';
    color: white;
    text-align: center;
}
.section6{
    padding-top: 8rem;
    /* padding-bottom: 8rem; */
    font-family: 'Manrope', 'sans-serif';
}

.section6 .s1{
    padding-bottom: 6rem;
}
